/* ================= HEADER ================= */

.header {
  position: sticky;
  top: 0;
  z-index: 995;
  background: var(--color-scheme-3-background);
  display: flex;
  justify-content: center;
}

.fullWidth {
  width: 100%;
  padding: 16px 20px;
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* ================= LOGO ================= */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 20px;
}

.logoIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 15px;
  text-decoration: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

/* ================= NAVIGATION ================= */
.nav {
  position: fixed;
  top: 72px;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-scheme-3-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 996;
  overflow-y: auto;
  gap: 16px;
}

.navOpen {
  transform: translateX(0);
}

/* ================= NAV LINKS ================= */
.navLink {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  text-align: center;
  padding: 10px 0;

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }

  &:active {
    color: var(--color-electric-violet);

    &::after {
      background-color: var(--color-electric-violet);
    }
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-scheme-1-border);

  transform: scaleX(0);
  transform-origin: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ================= BURGER ================= */
.burger {
  background: none;
  border: 2px solid var(--color-neutral-darkest);
  border-radius: 6px;
  padding: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

/* ================= USER ================= */
.user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.userWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatarContainer {
  width: 32px;
  height: 32px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  background-color: var(--color-border);
  color: #fff;
}

.avatarFallback {
  background-color: var(--color-accent);
}

.username {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 14px;
}

.divider {
  width: 1px;
  height: 39px;
  background-color: var(--color-scheme-1-text);
  margin: 0 8px;
}

.logoutButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.3);
  }

  &:active {
    transform: scale(1);
  }
}

/* ================= BUTTONS (однаковий стиль для "Зареєструватись" і "Опублікувати оголошення") ================= */
.purpleButton {
  border: 2px solid var(--color-electric-violet);
  border-radius: 6px;
  background: var(--color-electric-violet);
  color: var(--color-white);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  width: 248px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.purpleButton:hover,
.purpleButton:focus {
  border: 2px solid var(--color-electric-violet);
  background-color: var(--color-scheme-3-background);
  color: var(--color-scheme-1-text);
}

.purpleButton:active {
  border: 2px solid var(--color-electric-violet);
  background: var(--color-electric-violet-lighter);
  color: var(--color-scheme-1-text);
}

.purpleButton:disabled {
  border: 1px solid var(--color-electric-violet);
  background: var(--color-electric-violet);
  opacity: 0.4;
  color: var(--color-white);
  cursor: var(--color-scheme-1-text);
}

/* ================= RESPONSIVE ================= */
.tabletOnly {
  display: none;
}

.desktopOnly {
  display: none;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* ===== MEDIA QUERIES ===== */
@media only screen and (min-width: 768px) {
  .fullWidth {
    padding: 16px 32px;
  }

  .tabletOnly {
    display: flex;
  }

  .desktopOnly {
    display: none;
  }

  .createPost {
    width: 248px;
  }

  .register {
    width: 178px;
  }
}

@media only screen and (min-width: 1440px) {
  .fullWidth {
    padding: 16px 64px;
  }

  .nav {
    position: static;
    transform: none;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    overflow: visible;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    width: auto;
    height: auto;
    background: transparent;
  }

  .navLink {
    padding: 0;
  }

  .burger {
    display: none;
  }

  .tabletOnly {
    display: none;
  }

  .desktopOnly {
    display: flex;
  }

  .tabletOnly {
    display: none;
  }
}
