.header {
  position: sticky;
  top: 0;
  z-index: 995;
  background: var(--color-scheme-3-background);
  display: flex;
  justify-content: center;
}

.fullWidth {
  width: 100%;
  padding: 16px 20px;
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 20px;
  text-decoration: none;
}

.logoIcon {
  width: 83px;
  height: 15px;
}

.nav {
  position: fixed;
  top: 72px;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-scheme-3-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 996;
  overflow-y: auto;
  gap: 16px;
}

.navOpen {
  transform: translateX(0);
}

.navLink {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
}

.navLink:hover,
.navLink:focus {
  border-bottom: 1px solid var(--color-scheme-1-border);
}

.activeLink {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-electric-violet);
  border-bottom: 1px solid var(--color-electric-violet);
}

.burger {
  background: none;
  border: 2px solid var(--color-neutral-darkest);
  border-radius: 6px;
  padding: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burgerActive {
  background-color: inherit;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.userWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatarContainer {
  width: 32px;
  height: 32px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  background-color: var(--color-border);
  color: #fff;
}

.avatarFallback {
  background-color: var(--color-accent);
}

.username {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 14px;
}

.divider {
  width: 1px;
  height: 39px;
  background-color: var(--color-scheme-1-text);
  margin: 0 8px;
}

.logoutButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-electric-violet);
  border-radius: 6px;
  padding: 8px 20px;
  width: 335px;
  height: 40px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
  transition: all 0.2s ease;
}

.register:hover {
  background-color: #fff;
  color: var(--color-text);
}

.desktopOnly {
  display: none;
}

.purpleButton {
  background: var(--color-electric-violet);
  border: 1px solid var(--color-electric-violet);
  border-radius: 6px;
  padding: 8px 20px;
  width: 335px;
  height: 40px;
  padding: 0px 20px;
  color: var(--color-white);
  align-items: center;
  justify-content: center;
}

.tabletOnly {
  display: none;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .tabletOnly {
    display: flex;
  }

  .desktopOnly {
    display: none;
  }

  .register {
    width: 178px;
  }

  .createPost {
    width: 248px;
  }
}

@media only screen and (min-width: 1440px) {
  .nav {
    position: static;
    transform: none;

    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    overflow: visible;

    flex-direction: row;
    align-items: center;
    gap: 32px;

    width: auto;
    height: auto;
    background: transparent;
  }

  .navLink {
    padding: 0;
  }

  .burger {
    display: none;
  }

  .desktopOnly {
    display: flex;
  }

  .tabletOnly {
    display: none;
  }
}
