.featuredToolsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.titleWrapper {
  width: 100%;
  max-width: 335px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.titleText {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-neutral-darkest);
}

.toolsList {
  display: flex;
  flex-wrap: wrap;
  gap: 64px 32px;
  justify-content: center;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 32px;
}

.toolsList > :nth-child(n + 7) {
  display: none;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.catalogButton {
  width: 100%;
  height: 44px;
  margin: 0 auto;
  background-color: var(--color-electric-violet);
  color: var(--color-btn-white);
  border: 2px solid var(--color-electric-violet);
  border-radius: 6px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--color-white);
    color: var(--color-neutral-darkest);
    border-color: var(--color-electric-violet);
  }

  &:active {
    background-color: var(--color-electric-violet-lighter);
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 704px;
  }
  .titleWrapper {
    max-width: 768px;
    height: 36px;
  }
  .titleText {
    font-size: 30px;
  }

  .toolsList div {
    flex-basis: calc((100% - 32px) / 2);
  }

  .catalogButton {
    max-width: 215px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    max-width: 1312px;
  }

  .titleWrapper {
    max-width: 1312px;
    height: 50px;
    margin-bottom: 32px;
  }

  .titleText {
    font-size: 42px;
  }

  .toolsList div {
    flex-basis: calc((100% - 96px) / 4);
  }

  .toolsList > :nth-child(n + 7) {
    display: unset;
  }

  .featuredToolsContainer {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}
