/* FeaturedToolsBlock.module.css */

/* Базові стилі — мобайл */
.featuredToolsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.titleWrapper {
  width: 100%;
  max-width: 335px; /* макет мобайл */
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.titleText {
  font-weight: 700;
  font-size: 32px; /* мобайл менший */
  line-height: 1.2;
  text-align: center;
  color: #000;
}

.toolsList {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  flex: 0 0 100%; /* одна картка в ряд */
  max-width: 100%;
  margin-bottom: 32px;
}
.buttonWrapper {
  display: flex;
  justify-content: center;
}

.catalogButton {
  width: 100%;
  max-width: 335px;
  height: 44px;
  margin: 0 auto;
  background-color: var(--color-scheme-1-accent);
  color: var(--color-white);
  border: 1px solid transparent;
  padding: 10px 24px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.6s ease,
    color 0.6s ease,
    border-color 0.6s ease,
    transform 0.3s ease;
  /* padding-bottom: 64px; */
}

.catalogButton:hover,
.catalogButton:focus {
  background-color: #fff;
  color: #000;
  border-color: var(--color-scheme-1-accent);
}

/* Планшети ≥768px */
@media (min-width: 768px) {
  .wrapper {
    max-width: 704px;
  }
  .titleWrapper {
    max-width: 768px;
    height: 36px;
  }
  .titleText {
    font-size: 30px;
  }

  .toolsList > * {
    flex-basis: calc((100% - 32px) / 2); /* дві картки в ряд */
    /* max-width: calc(50% - 0px); */
  }
  .catalogButton {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    max-width: 215px;
    padding: 10px 24px;
  }
}

/* Десктопи ≥1440px */
@media (min-width: 1440px) {
  .wrapper {
    max-width: 1312px;
  }
  .titleWrapper {
    max-width: 1312px;
    height: 50px;
    margin-bottom: 32px;
  }
  .titleText {
    font-size: 42px; /* найбільший */
  }
  .toolsList {
    gap: 64px 32px;
  }
  .toolsList > * {
    flex-basis: calc((100% - 96px) / 4); /* чотири картки в ряд */
  }
  .featuredToolsContainer {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}
