/*  Весь блок */
.feedbacksSection {
  padding: 64px 20px;
  background-color: #f2f2f2;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
}

/*  Заголовок "Останні відгуки" */
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;

  width: 335px;
  height: 43px;
  max-width: 768px;

  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  color: #000;
}

/*  Одна картка відгуку */
.card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 10px;

  width: 100%;
  max-width: 335px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*  Блок зірочок */
.stars {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;

  width: 136px;
  height: 24px;
}

/* Текст відгуку */
.text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000;

  margin-top: 12px;
}

/* Ім’я автора */
.author {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;

  width: 89px;
  height: 24px;

  font-weight: bold;
  font-size: 16px;
  color: #000;
  margin-top: 16px;
}

/* Блок зі стрілками свайпера */
.swiper-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;

  width: 335px;
  height: 48px;
}



@media (min-width: 768px) {

}

@media (min-width: 1440px) {

}