.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .search-wrapper {
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
  }
}

.search-input {
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 8px 12px;
  width: 100%;
  height: 44px;
  background-color: var(--opacity-transparent);
  outline: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.5;
  color: var(--color-white);
}

.search-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--opacity-white-60);
  font-family: var(--font-Inter), sans-serif;
}

.search-input:focus {
  border: 2px solid var(--color-electric-violet-light);
}

.search-input.error,
.search-input.error:focus {
  border: 2px solid var(--color-red-light);
  color: var(--color-red-light);
}

.search-error {
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-red-light);
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-error-mobile {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  position: relative;
  z-index: 0;
}

.search-error-mobile.show {
  max-height: 18px;
  opacity: 1;
}

.search-error-desktop {
  display: none;
  min-height: 18px;
}

.search-error-desktop.show {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .search-error-mobile {
    display: none;
  }

  .search-error-desktop {
    display: block;
    margin-top: -24px;
    margin-left: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .search-error-desktop {
    margin-top: -24px;
  }
}

@media only screen and (min-width: 768px) {
  .search-input {
    width: 428px;
    padding: 8px 12px;
    height: 44px;
  }
}

@media only screen and (min-width: 1440px) {
  .search-input {
    width: 560px;
    padding: 8px 12px;
    height: 44px;
  }
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-electric-violet);
  border-radius: 6px;
  padding: 10px 24px;
  width: 100%;
  height: 44px;
  background: var(--color-electric-violet);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.search-button:hover,
.search-button:focus,
.search-button:focus-visible,
.search-button.hover {
  border: 2px solid var(--color-electric-violet);
  background: var(--color-white);
  color: var(--color-neutral-darkest);
  padding: 9px 23px;
}

.search-button:active {
  border: 2px solid var(--color-electric-violet);
  background: var(--color-electric-violet-lighter);
  padding: 9px 23px;
}

.search-button:disabled {
  border: 1px solid var(--color-electric-violet);
  background: var(--color-electric-violet);
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

@media only screen and (min-width: 768px) {
  .search-button {
    width: 101px;
  }
}
