.search-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 600px;
}

@media only screen and (min-width: 768px) {
  .search-form {
    align-items: center;
    flex-direction: row;
    gap: 32px;
  }
}

.search-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.search-input {
  border: 2px solid var(--color-white);
  border-radius: 6px;
  padding: 6px 12px;
  width: 100%;
  background: var(--opacity-transparent);
  outline: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.5;
  color: var(--color-white);
}

.search-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--opacity-white-60);
  font-family: var(--font-Inter), sans-serif;
}

.search-input:focus {
  border: 2px solid var(--color-electric-violet-light);
}

.search-input.error,
.search-input.error:focus {
  border: 2px solid var(--color-red-light);
  color: var(--color-red-light);
}

.search-error {
  display: none;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-red-light);
}

.search-input-wrapper.error .search-error {
  display: block;
}

@media only screen and (min-width: 768px) {
  .search-input {
    width: 428px;
  }
}

@media only screen and (min-width: 1440px) {
  .search-input {
    width: 416px;
  }
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-electric-violet);
  border-radius: 6px;
  padding: 10px 24px;
  width: 100%;
  height: 44px;
  background: var(--color-electric-violet);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-button:hover,
.search-button:focus,
.search-button:focus-visible {
  border: 2px solid var(--color-electric-violet);
  border-radius: 6px;
  background: var(--color-white);
  color: var(--color-neutral-darkest);
}

.search-button:active {
  border: 2px solid var(--color-electric-violet);
  background: var(--color-electric-violet-lighter);
}

.search-button:disabled {
  border: 1px solid var(--color-electric-violet);
  background: var(--color-electric-violet);
  opacity: 0.4;
  cursor: not-allowed;
}

@media only screen and (min-width: 768px) {
  .search-button {
    width: 101px;
  }
}
