.formGroup {
  position: relative;
  display: flex;
  flex-direction: column;
}

.formLabel {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  margin-bottom: 8px;
}

.imageUpload {
  position: relative;
  width: 100%;
}

.fileInput {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
}

.imagePreview {
  position: relative;
  width: 335px;
  height: 223px;
  border-radius: 16px;
  overflow: hidden;
}

.imagePreview img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.imagePlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 335px;
  height: 223px;
  border: 2px dashed var(--color-neutral-darkest);
  border-radius: 16px;
  background: var(--color-neutral-lightest) url("/images/blank-image-mob.webp")
    center/cover no-repeat;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.errorMessage {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-red-dark);
  overflow: hidden;
}
