.calendar {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  font-weight: 600;
}

.year {
  font-weight: 700;
  font-size: 16px;
}

.monthControls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.month {
  font-weight: 700;
  font-size: 16px;
  min-width: 80px;
  text-align: center;
}

.navBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transform: scale(1.5);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scale(2);
    color: var(--color-scheme-1-accent);
  }

  &:active {
    transform: scale(1);
  }
}

.calendarTablet {
  border: 2px solid var(--color-scheme-1-border);
  border-radius: 6px;
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.weekdays th {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-scheme-1-text);
  height: 56px;
  border: 2px solid var(--color-scheme-1-border);
}

.day {
  height: 56px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  color: var(--color-scheme-1-text);
  border: 2px solid var(--color-scheme-1-border);
}

.available:hover {
  background-color: var(--color-electric-violet-lightest);
}

.selected {
  background-color: var(--color-electric-violet-lighter);
}

.inRange {
  background-color: var(--color-electric-violet-lighter);
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.otherMonth {
  opacity: 0.4;
  cursor: not-allowed;
}

.reserved {
  text-decoration: line-through;
  cursor: not-allowed;
}

@media only screen and (min-width: 1440px) {
  .year,
  .month {
    font-size: 18px;
  }
}
