.registrationBlockSection {
  padding-top: 64px;
  padding-bottom: 64px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
}

.textContent {
  text-align: left;
  margin-bottom: 32px;
  max-width: 335px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.buttonRegister {
  display: block;
  text-align: center;
  background-color: var(--color-electric-violet);
  border-radius: 6px;
  padding: 10px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid var(--color-electric-violet);
  color: var(--color-white);
  margin-bottom: 32px;
  min-width: 335px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonRegister:hover,
.buttonRegister:focus {
  color: var(--color-neutral-darkest);
  background-color: var(--color-white);
}

.buttonRegister:active {
  background-color: var(--color-electric-violet-lighter);
}

.buttonRegister:disabled {
  background-color: var(--color-electric-violet);
  opacity: 0.4;
  color: var(--color-white);
}

.imageBlock {
  position: relative;
  object-fit: cover;
  height: 223px;
  border-radius: 16px;
}

@media only screen and (min-width: 768px) {
  .buttonRegister {
    display: inline-block;
    min-width: 186px;
  }

  .textContent {
    max-width: 704px;
  }

  .title {
    font-size: 30px;
  }

  .description {
    max-width: 600px;
  }

  .imageBlock {
    height: 469px;
  }
}

@media only screen and (min-width: 1440px) {
  .registrationBlockSection {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .contentWrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .textAndButton {
    padding: 23px 0;
  }

  .textContent {
    max-width: 755px;
  }

  .title {
    max-width: 700px;
    font-size: 42px;
  }

  .description {
    font-size: 18px;
  }

  .buttonRegister {
    font-size: 16px;
    margin-bottom: 0px;
  }

  .imageBlock {
    height: 350px;
    width: 525px;
  }
}
