.leftContentWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.formLogoLink {
  display: flex;
  align-items: center;
  margin-left: 5px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.logo {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
  transform: scale(1.1);
}

.formWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 32px;
}

.formGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.formInput {
  border: 2px solid var(--color-neutral-darkest);
  background-color: var(--opacity-transparent);
  border-radius: 6px;
  padding: 12px;
  width: 335px;
  height: 48px;
  resize: none;
}

.formInput:hover,
.formInput:focus,
.formInput:active {
  border-color: var(--color-electric-violet);
}

.formInput:has(+ .formError) {
  border-color: var(--color-red-dark);
}

.formButton {
  display: block;
  margin: 0 auto;
  border: 2px solid var(--color-electric-violet);
  background-color: var(--color-electric-violet);
  border-radius: 6px;
  padding: 10px 24px;
  width: 98px;
  height: 44px;
  font-weight: 500;
  line-height: 150%;
  color: var(--color-white);
  margin-bottom: 24px;
  transition:
    background-color 250ms ease,
    color 250ms ease,
    border-color 250ms ease;
}

.formButton:hover,
.formButton:focus {
  background-color: var(--color-white);
  border: 2px solid var(--color-electric-violet);
  color: var(--color-scheme-1-text);
}

.formButton:active {
  background-color: var(--color-electric-violet-lighter);
  border: 2px solid var(--color-electric-violet);
  color: var(--color-scheme-1-text);
}

.formButton:disabled {
  opacity: 0.4;
}

.formText {
  text-align: center;
}

.formText a {
  text-decoration: underline;
  transition: color 250ms ease;
}

.formText a:hover {
  color: var(--color-electric-violet);
}

.formError {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-red-dark);
}

.formImgWrapper {
  display: none;
}

.formFooterText {
  position: absolute;
  bottom: 27px;
  font-size: 12px;
  line-height: 150%;
}

@media only screen and (min-width: 768px) {
  .formTitle {
    font-size: 30px;
  }

  .formInput {
    width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .contentWrapper {
    display: flex;
    gap: 32px;
  }

  .formTitle {
    font-size: 42px;
  }

  .formInput {
    width: 640px;
  }

  .formImgWrapper {
    display: block;
  }

  .formFooterText {
    font-size: 14px;
  }
}
