.contentWrapper {
  min-height: 100vh;
  display: flex;
  position: relative;
}

.logo {
  position: absolute;
  top: 26px;
  left: 20px;
}

.formWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 32px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.formInput {
  border: 2px solid var(--color-neutral-darkest);
  background-color: var(--opacity-transparent);
  border-radius: 6px;
  padding: 12px;
  width: 335px;
  height: 48px;
  resize: none;
}

.formInput:active {
  border: 2px solid var(--color-electric-violet);
}

.formButton {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--color-electric-violet);
  background-color: var(--color-electric-violet);
  border-radius: 6px;
  padding: 10px 24px;
  width: 98px;
  height: 44px;
  font-weight: 500;
  line-height: 150%;
  color: var(--color-white);
  margin-bottom: 24px;
}

.formButton:hover,
.formButton:focus {
  background-color: var(--color-white);
  border: 2px solid var(--color-electric-violet);
  color: var(--color-scheme-1-text);
}

.formButton:active {
  background-color: var(--color-electric-violet-lighter);
  border: 2px solid var(--color-electric-violet);
  color: var(--color-scheme-1-text);
}

.formButton:disabled {
  opacity: 0.4;
}

.formText {
  text-align: center;
}

.formText a {
  text-decoration: underline;
}

.formText a:hover {
  color: var(--color-electric-violet);
}

.formError {
  font-size: 12px;
  line-height: 150%;
  color: var(--color-red-dark);
}

.formImgWrapper {
  display: none;
}

.formFooterText {
  position: absolute;
  left: 20px;
  bottom: 27px;
  font-size: 12px;
  line-height: 150%;
}

@media only screen and (min-width: 768px) {
  .logo {
    left: 32px;
  }

  .formTitle {
    font-size: 30px;
  }

  .formInput {
    width: 704px;
  }

  .formFooterText {
    left: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .pageWrapper {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 124px;
    height: 20px;
    top: 26px;
    left: 64px;
  }

  .contentWrapper {
    padding-left: 64px;
  }

  .formTitle {
    font-size: 42px;
  }

  .formInput {
    width: 640px;
  }

  .formImgWrapper {
    display: block;
  }

  .formFooterText {
    left: 64px;
  }
}
