.loadMoreBtn {
	display: block;
	margin: 0 auto;
	margin-top: 32px;
	margin-bottom: 64px;
	width: 100%;
	height: 44px;
	font-weight: 500;
	line-height: 150%;
	color: var(--color-white);
	border: 1px solid transparent;
	border-radius: 6px;
	background-color: var(--color-electric-violet);
	transition:
		background-color 0.6s ease,
		color 0.6s ease,
		border-color 0.6s ease,
		transform 0.3s ease;
	&:hover,
	&:focus {
		border: 2px solid var(--color-electric-violet);
		background-color: transparent;
		color: var(--color-scheme-1-text);
	}
	&:disabled {
		background-color: var(--color-electric-violet);
		background-color: transparent;
		opacity: 0.4;
		color: var(--color-white);
	}
	&:active {
		background: var(--color-electric-violet-lighter);
		border: 2px solid var(--color-electric-violet);
		color: var(--color-scheme-1-text);
		transform: scale(0.97);
	}
}

@media only screen and (min-width: 768px) {
	.loadMoreBtn {
		width: 182px;
	}
}

@media only screen and (min-width: 1440px) {
	.loadMoreBtn {
		margin-bottom: 112px;
	}
}
