.loadMoreBtn {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
  width: 100%;
  height: 44px;
  font-weight: 500;
  line-height: 150%;
  color: var(--color-btn-white);
  border: 2px solid var(--color-electric-violet);
  border-radius: 6px;
  background-color: var(--color-electric-violet);
  transition:
    background-color 250ms ease,
    color 250ms ease,
    border-color 250ms ease,
    transform 250ms ease;
  &:hover,
  &:focus {
    background-color: transparent;
    color: var(--color-scheme-1-text);
  }
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  &:active {
    background-color: var(--color-electric-violet-lighter);
    color: var(--color-scheme-1-text);
    transform: scale(0.97);
  }
}

@media only screen and (min-width: 768px) {
  .loadMoreBtn {
    width: 182px;
  }
}
