.formImg {
  display: none;
}

.contentWrapper {
  flex: 1;
}

.logoLink {
  display: flex;
  align-items: center;
  padding-top: 26px;
  margin-left: 5px;
  padding-bottom: 26px;
}

.logo {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

.formWrapper {
  min-height: calc(100vh - 172px);
  padding: 86px 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-neutral-darkest);
  margin-bottom: 32px;
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.formInput {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px;
  border: 2px solid var(--color-neutral-darkest);
  border-radius: 6px;
  height: 48px;
}

.formInput:active {
  border: 2px solid var(--color-electric-violet);
}

.formError {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-red-dark);
}

.btn {
  background: var(--color-electric-violet);
  color: var(--color-white);
  border: 2px solid var(--color-electric-violet);
  border-radius: 6px;
  padding: 9px 24px;
  display: block;
  box-sizing: border-box;
  margin: 24px auto;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--color-scheme-1-text);
    background-color: var(--color-white);
    border-color: var(--color-electric-violet);
  }

  &:active {
    background-color: var(--color-electric-violet-lighter);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.formText {
  text-align: center;
}

.textLink {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--color-electric-violet);
  }

  &:active {
    color: var(--color-scheme-1-text);
  }
}

.formFooterText {
  display: flex;
  align-items: center;
  height: 72px;
  font-weight: 400;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .formWrapper {
    padding: 90px 0;
  }

  .title {
    font-size: 30px;
  }

  .formFooterText {
    left: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .pageWrapper {
    display: flex;
    justify-content: space-between;
  }

  .formImg {
    display: block;
  }

  .formWrapper {
    min-height: auto;
  }
}
