.benefits {
  padding: 64px 0;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefitsTitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
}

.benefitsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;
}

.benefitsContainerTitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.benefitsContainerText {
  font-size: 18px;
}

.benefitsList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
}

.benefitsListItem {
  width: 100%;
}

.benefitsListIcon {
  margin-bottom: 24px;
  fill: var(--color-neutral-darkest);
}

.benefitsListItemTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.benefitsListItemText {
  font-weight: 400;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .benefitsContainerText {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .benefits {
    padding: 112px 0;
  }

  .benefitsContainer {
    gap: 80px;
    margin-bottom: 80px;
  }

  .benefitsContainerTitle {
    display: block;
    width: 616px;
  }

  .benefitsContainerText {
    display: block;
    width: 616px;
  }

  .benefitsList {
    align-items: start;
    gap: 32px;
  }

  .benefitsListItem {
    width: calc((100% - 64px) / 3);
  }

  .benefitsListIcon {
    margin-bottom: 24px;
  }
}
