.toolTitle {
	font-weight: 700;
	font-size: 36px;
	line-height: 120%;
	letter-spacing: -0.01em;
	text-align: center;
	margin-top: 32px;
	margin-bottom: 32px;
}

.toolSection {
	padding-bottom: 64px;
}

@media only screen and (min-width: 768px) {
	.toolTitle {
		font-size: 30px;
	}
}

@media only screen and (min-width: 1440px) {
	.toolTitle {
		font-size: 42px;
		margin-top: 48px;
	}
	.toolSection {
		padding-bottom: 112px;
	}
}
