.hero {
  background: url("/images/hero-mob.jpg") center/cover no-repeat;
  padding: 55px 0;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2) {
  .hero {
    background: url("/images/hero-mob@2x.jpg") center/cover no-repeat;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    background: url("/images/hero-tab.jpg") center/cover no-repeat;
  }

  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .hero {
      background: url("/images/hero-tab@2x.jpg") center/cover no-repeat;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    background: url("/images/hero-desk.jpg") center/cover no-repeat;
    padding: 188px 0;
  }

  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .hero {
      background: url("/images/hero-desk@2x.jpg") center/cover no-repeat;
    }
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
  min-height: 100%;
}

@media only screen and (min-width: 768px) {
  .hero-container {
    gap: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-container {
    gap: 34px;
  }
}

.hero-title {
  font-size: 56px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-white);
  width: 100%;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-title {
    text-align: center;
    width: 902px;
  }
}

.hero-in-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  align-items: stretch;
}

@media only screen and (min-width: 768px) {
  .hero-in-wrap {
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-in-wrap {
    flex-direction: row;
    gap: 44px;
    align-items: flex-start;
  }
}
