.backdrop {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
}

.modal {
    position: absolute;
    background: var(--color-scheme-1-background);
    border-radius: 16px;
    padding: 64px 20px;
    width: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.closeButton {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}


.text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--color-scheme-1-text);
    margin-bottom: 48px;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;

}

.cancel {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-neutral-darkest);
    border: 2px solid var(--color-neutral-darkest);
    background: inherit;
    border-radius: 6px;
    padding: 10px 24px;
    width: 295px;
    height: 44px;
}

.cancel:hover,
.cancel:focus {
    background: var(--color-electric-violet-lighter);
    border: 2px solid var(--color-neutral-darkest);
}

.cancel:active {
    background: var(--color-electric-violet);
    border: 2px solid var(--color-white);
    color: var(--color-white);

}

.confirm {
    border: 1px solid var(--color-electric-violet);
    background: var(--color-electric-violet);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-white);
    border-radius: 6px;
    padding: 10px 24px;
    width: 295px;
    height: 44px;
}

.confirm:hover,
.confirm:focus {
    border: 2px solid var(--color-electric-violet);
    background: inherit;
    color: var(--color-scheme-1-text);
}

.confirm:active {
    border: 2px solid var(--color-electric-violet);
    background: var(--color-electric-violet-lighter);
}

@media only screen and (min-width: 768px) {
    .modal {
        width: 704px;
        padding: 64px 64px;
    }

    .closeButton {
        font-size: 32px;
    }

    .text {
        font-size: 30px;
    }

    .actions {
        flex-direction: row;
        gap: 24px;
    }

    .cancel,
    .confirm {
        width: 276px;
        height: 44px;
        font-size: 16px;
    }

}

@media only screen and (min-width: 1440px) {
    .modal {
        width: 768px;
    }

    .closeButton {
        top: 0px;
        right: 16px;
    }

    .text {
        font-size: 40px;
    }

    .actions {
        width: 640px;

    }
}
