/* =====================================
============== Variables ===============
======================================== */

:root {
  --color-neutral-darkest: #000;
  --color-white: #fff;
  --color-neutral: #7f7f7f;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-dark: #4c4c4c;
  --color-neutral-light: #b2b2b2;
  --color-scheme-1-background: var(--color-white);
  --color-scheme-1-border: var(--color-neutral-darkest);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-scheme-1-accent: var(--color-electric-violet);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-white-80: rgba(255, 255, 255, 0.8);
  --opacity-white-90: rgba(255, 255, 255, 0.9);
  --opacity-neutral-darkest-10: rgba(0, 0, 0, 0.1);
  --opacity-neutral-darkest-20: rgba(0, 0, 0, 0.2);
  --opacity-neutral-darkest-60: rgba(0, 0, 0, 0.6);
  --opacity-neutral-darkest-85: rgba(0, 0, 0, 0.85);
  --opacity-neutral-darkest-1: rgba(0, 0, 0, 1);
  --color-electric-violet-lightest: #f3e6f9;
  --color-electric-violet-lighter: #e7cdf4;
  --color-electric-violet-light: #ab52db;
  --color-electric-violet: #8808cc;
  --color-electric-violet-dark: #6c06a3;
  --color-scheme-2-background: var(--color-electric-violet-lightest);
  --color-scheme-3-background: var(--color-neutral-lightest);
  --color-red-dark: #c40202;
  --color-red-light: #ea3131;
  --color-violet-lighter: rgba(136, 8, 204, 0.3);
  --color-violet-light: rgba(136, 8, 204, 0.4);
  --color-blue: rgba(30, 144, 255, 0.4);
  --color-blue-dark: #000080;
  --color-blue-light: #1e90ff;
  --color-blue-lighter: #4682b4;
  --color-blue-lightest: #87ceeb;
  --color-blue-light-pagination: #475569;
  --color-blue-pagination: #4f46e5;
  --color-medium-orchid-04: rgba(171, 82, 219, 0.4);
  --color-medium-orchid-035: rgba(171, 82, 219, 0.35);
  --color-medium-orchid-03: rgba(171, 82, 219, 0.3);
  --color-gray: rgba(33, 37, 41, 0.6);
  --color-white-pagination: #f1f5f9;
  --color-gradient-1: var(--color-neutral-lightest);
  --color-gradient-2: var(--color-neutral-lightest);
  --color-gradient-3: var(--color-neutral-lightest);
  --color-btn-theme-dark: #1e1e1e;
  --color-backgroun-filter: #ede9fe;
  --color-backgroun-filter-2: #8b5cf6;
  --color-backgroun-filter-text: #5b21b6;
  --color-btn-white: var(--color-white);
}

/* =====================================
================ Base ==================
======================================== */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-Inter), var(--font-NunitoSans), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-scheme-3-background);

  color: var(--color-scheme-1-text);
  line-height: 150%;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.no-scroll {
    overflow: hidden;
  }
}

main {
  flex-grow: 1;
}

/* =====================================
============= Theme Dark ===============
======================================== */

body.dark {
  --color-neutral-darkest: #fff;
  --color-white: #000;
  --color-neutral: #7f7f7f;
  --color-neutral-lightest: #1e1e1e;
  --color-scheme-1-background: var(--color-white);
  --color-scheme-1-border: var(--color-neutral-darkest);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-scheme-1-accent: var(--color-electric-violet);
  --opacity-white-60: rgba(0, 0, 0, 0.6);
  --opacity-neutral-darkest-60: rgba(255, 255, 255, 0.6);
  --color-electric-violet-lightest: var(--color-neutral-lightest);
  --color-electric-violet-lighter: #282727;
  --color-scheme-2-background: var(--opacity-neutral-darkest-20);
  --color-scheme-3-background: var(--color-neutral-lightest);
  --color-gradient-1: #1e1e1e;
  --color-gradient-2: #111;
  --color-gradient-3: #000;
  --color-btn-theme-dark: var(--opacity-white-90);
  --color-backgroun-filter: var(--color-neutral-dark);
  --color-backgroun-filter-text: var(--color-neutral-darkest);

  & .swiper-pagination-bullet,
  & .swiper-pagination-bullet-active-next,
  & .swiper-pagination-bullet-active {
    background-color: var(--color-neutral-darkest);
  }
}

/* =====================================
================ Reset =================
======================================== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

input {
  font-family: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--opacity-transparent) inset;
  -webkit-text-fill-color: var(--color-neutral-darkest);
  transition: all 5000s ease-in-out 0s;
  caret-color: var(--color-neutral-darkest);
}

/* =====================================
============== Container ===============
======================================== */

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
