/* =====================================
============== Variables ===============
======================================== */

:root {
  --color-scheme-1-background: var(--color-white);
  --color-neutral-darkest: #000;
  --color-scheme-1-border: var(--color-neutral-darkest);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-neutral-lighter: #d8d8d8;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b2b2b2;
  --color-neutral: #7f7f7f;
  --color-neutral-dark: #4c4c4c;
  --color-neutral-darker: #191919;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-scheme-1-foreground: var(--color-white);
  --color-scheme-1-accent: var(--color-electric-violet);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-neutral-darkest-5: rgba(0, 0, 0, 0.05);
  --opacity-neutral-darkest-10: rgba(0, 0, 0, 0.1);
  --opacity-neutral-darkest-15: rgba(0, 0, 0, 0.15);
  --opacity-neutral-darkest-20: rgba(0, 0, 0, 0.2);
  --opacity-neutral-darkest-30: rgba(0, 0, 0, 0.3);
  --opacity-neutral-darkest-40: rgba(0, 0, 0, 0.4);
  --opacity-neutral-darkest-50: rgba(0, 0, 0, 0.5);
  --opacity-neutral-darkest-60: rgba(0, 0, 0, 0.6);
  --color-electric-violet-lightest: #f3e6f9;
  --color-electric-violet-lighter: #e7cdf4;
  --color-electric-violet-light: #ab52db;
  --color-electric-violet: #8808cc;
  --color-electric-violet-dark: #6c06a3;
  --color-electric-violet-darker: #360351;
  --color-electric-violet-darkest: #28023d;
  --color-scheme-2-text: var(--color-neutral-darkest);
  --color-scheme-2-background: var(--color-electric-violet-lightest);
  --color-scheme-2-border: var(--color-neutral-darkest);
  --color-scheme-2-accent: var(--color-electric-violet);
  --color-scheme-2-foreground: var(--color-electric-violet-lightest);
  --color-scheme-3-text: var(--color-neutral-darkest);
  --color-scheme-3-background: var(--color-neutral-lightest);
  --color-scheme-3-border: var(--color-neutral-darkest);
  --color-scheme-3-accent: var(--color-electric-violet);
  --color-scheme-3-foreground: var(--color-neutral-lightest);
  --color-red-dark: #c40202;
  --color-red-light: #ea3131;
}

/* =====================================
================ Base ==================
======================================== */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-Inter), var(--font-NunitoSans), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-scheme-3-background);

  color: var(--color-scheme-1-text);
  line-height: 150%;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.no-scroll {
    overflow: hidden;
  }
}

main {
  flex-grow: 1;
}

/* =====================================
================ Reset =================
======================================== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

input {
  font-family: inherit;
}

/* =====================================
============== Container ===============
======================================== */

.container {
  max-width: 375px;
  /* margin: 0 auto; */
  padding: 0 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
