.toolCard {
	margin: 0 auto;
}

.title {
	font-weight: 600;
	font-size: 26px;
	margin-bottom: 8px;
	text-align: center;
}

@media only screen and (min-width: 1440px) {
	.title {
		font-size: 28px;
	}
}
