.toolCard {
	margin: 0 auto;
	max-width: 335px;
}

.image {
	object-fit: cover;
	max-width: 100%;
	height: 413px;
	border-radius: 16px;
	margin-bottom: 16px;
}

.title {
	font-weight: 600;
	font-size: 16px;
	height: 54px;
	margin-bottom: 8px;
	text-align: center;
}

@media only screen and (min-width: 768px) {
	.image {
		height: 414px;
	}
}

@media only screen and (min-width: 1440px) {
	.image {
		height: 374px;
	}

	.title {
		font-size: 18px;
	}

	.price {
		font-size: 14px;
	}
}
