.buttonTheme {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: var(--color-btn-theme-dark);
  z-index: 100;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.9);
  }
}

@media only screen and (min-width: 768px) {
  .buttonTheme {
    width: 56px;
    height: 56px;
  }
}

@media only screen and (min-width: 1440px) {
  .buttonTheme {
    width: 40px;
    height: 40px;
  }
}
