.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 64px 32px;
}

@media only screen and (min-width: 768px) {
  .grid div {
    flex-basis: calc((100% - 32px) / 2);
  }
}

@media only screen and (min-width: 1440px) {
  .grid div {
    flex-basis: calc((100% - 96px) / 4);
  }
}
