.toolCard {
  margin: 0 auto;
  max-width: 335px;
}

.image {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 16px;
}

.title {
  font-weight: 600;
  font-size: 18px;
  height: 54px;
  margin-bottom: 8px;
}

.price {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 16px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--color-neutral-darkest);
  border-radius: 6px;
  padding: 6px 20px;
  width: 100%;

  font-weight: 500;
  color: var(--color-neutral-darkest);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--color-neutral-darkest);
    background-color: var(--color-electric-violet-lighter);
  }

  &:active {
    color: var(--color-white);
    border-color: var(--color-white);
    background-color: var(--color-electric-violet);
  }

  &:disabled {
    opacity: 0.4;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1440px) {
}
