.toolCard {
  margin: 0 auto;
  max-width: 335px;
}

.image {
  object-fit: cover;
  max-width: 100%;
  height: 413px;
  border-radius: 16px;
  margin-bottom: 16px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  height: 54px;
  margin-bottom: 8px;
}

.price {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 16px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--color-neutral-darkest);
  border-radius: 6px;
  padding: 6px 20px;
  width: 100%;

  font-weight: 500;
  color: var(--color-neutral-darkest);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--color-neutral-darkest);
    background-color: var(--color-electric-violet-lighter);
  }

  &:active {
    color: var(--color-white);
    border-color: var(--color-white);
    background-color: var(--color-electric-violet);
  }

  &:disabled {
    opacity: 0.4;
  }
}

.btnBox {
  display: flex;
  gap: 16px;
}

.deleteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 2px solid var(--color-neutral-darkest);
  border-radius: 6px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--color-neutral-darkest);
    background-color: var(--color-electric-violet-lighter);
  }

  &:active {
    border-color: var(--color-white);
    background-color: var(--color-electric-violet);
  }

  &:active .icon {
    fill: var(--color-white);
  }

  &:disabled {
    opacity: 0.4;
  }
}

.icon {
  fill: var(--color-neutral-darkest);
}

@media only screen and (min-width: 768px) {
  .image {
    height: 414px;
  }
}

@media only screen and (min-width: 1440px) {
  .image {
    height: 374px;
  }

  .title {
    font-size: 18px;
  }

  .price {
    font-size: 14px;
  }
}
