.filterWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.resetBtn {
  background-color: var(--color-scheme-3-background);
  border: none;
  text-align: left;
  display: inline-block;
  position: relative;
  padding: 0;
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: var(--color-electric-violet);
  }
}

@media only screen and (min-width: 768px) {
  .filterWrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .selectFilter {
    width: 304px;
  }
}
