.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: none;
  padding: 0;
}

.control {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-scheme-1-text);
}

.input {
  padding: 10px 12px;
  font-size: 14px;
  border: 2px solid var(--color-scheme-1-border);
  background-color: var(--opacity-transparent);
  color: var(--color-neutral-darkest);
  border-radius: 8px;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(123, 97, 255, 0.2);
}
.inputError {
  border-color: var(--color-red-dark);
}

.control:has(.error) .input {
  border-color: var(--color-red-dark);
}

.control:has(.error) .input:focus {
  border-color: var(--color-red-dark);
  box-shadow: 0 0 0 2px rgba(211, 47, 47, 0.25);
}

.error {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 12px;
  color: var(--color-red-dark);
  margin-top: 0;
}

.priceRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.price {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-scheme-1-text);
}

.submitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 100%;
  height: 44px;

  border: 2px solid var(--color-scheme-1-accent);
  border-radius: 6px;
  background: var(--color-scheme-1-accent);

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-btn-white);

  padding: 10px 24px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--color-scheme-1-background);
    color: var(--color-scheme-1-text);
  }

  &:active {
    background-color: var(--color-electric-violet-lighter);
    color: var(--color-scheme-1-text);
  }

  &:disabled {
    opacity: 0.4;
  }
}

@media (min-width: 768px) {
  .fieldset {
    flex-direction: row;
    gap: 24px;
  }
  .fieldset > .control {
    flex: 1;
  }

  .fieldset.single {
    flex-direction: column;
  }

  .priceRow {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .submitBtn {
    width: auto;
    min-width: 200px;
    margin-left: auto;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    padding: 0 224px;
    box-sizing: border-box;
  }

  .label {
    font-size: 16px;
  }

  .input {
    font-size: 16px;
    padding: 14px 16px;
  }

  .price {
    font-size: 18px;
  }

  .submitBtn {
    font-size: 18px;
    padding: 14px 32px;
  }
}
