.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}
/* базовий fieldset */
.fieldset {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: none;
  padding: 0;
}

/* один контроль = одне поле (label + input + error) */
.control {
  position: relative; /* тепер .error буде позиціонуватись відносно цього блоку */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.input {
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.input:focus {
  outline: none;
  border-color: #fff;
  box-shadow: 0 0 0 2px rgba(123, 97, 255, 0.2);
}
.inputError {
  border-color: #d32f2f;
  /* box-shadow: 0 0 0 1px #d32f2f; */
}
/* якщо всередині .control з’явився .error — фарбуємо інпут червоним */
.control:has(.error) .input {
  border-color: #d32f2f;
  /* box-shadow: 0 0 0 1px #d32f2f; */
}

/* щоб фокус не "збивав" червоне підсвічування */
.control:has(.error) .input:focus {
  border-color: #d32f2f;
  box-shadow: 0 0 0 2px rgba(211, 47, 47, 0.25);
}

.error {
  position: absolute;
  top: 100%; /* одразу під інпутом */
  left: 0;
  font-size: 12px;
  color: #d32f2f;
  margin-top: 0;
}

.priceRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.price {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.submitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 100%;
  height: 44px;

  border: 2px solid #8808cc;
  border-radius: 6px;
  background: #8808cc;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  padding: 10px 24px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #fff;
    color: var(--color-scheme-1-text);
  }

  &:active {
    background-color: var(--color-electric-violet-lighter);
    color: var(--color-scheme-1-text);
  }

  &:disabled {
    opacity: 0.4;
  }
}

/* планшет і вище */
@media (min-width: 768px) {
  /* парні поля поруч */
  .fieldset {
    flex-direction: row;
    gap: 24px;
  }
  .fieldset > .control {
    flex: 1;
  }

  /* телефон — окремий рядок */
  .fieldset.single {
    flex-direction: column;
  }

  /* ціна + кнопка */
  .priceRow {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .submitBtn {
    width: auto;
    min-width: 200px;
    margin-left: auto;
  }
}

/* десктоп */
@media (min-width: 1440px) {
  .wrapper {
    padding: 0 224px; /* десктоп: зверху 0, зліва/справа 224px */
    box-sizing: border-box;
  }

  .label {
    font-size: 16px;
  }

  .input {
    font-size: 16px;
    padding: 14px 16px;
  }

  .price {
    font-size: 18px;
  }

  .submitBtn {
    font-size: 18px;
    padding: 14px 32px;
  }
}
