.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* margin-top: 48px; */
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: none;
  padding: 0;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.input {
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.input:focus {
  outline: none;
  border-color: #7b61ff;
  box-shadow: 0 0 0 2px rgba(123, 97, 255, 0.2);
}

.error {
  font-size: 12px;
  color: #d32f2f;
  margin-top: -8px;
}

.priceRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  /* margin-top: 24px; */
}

.price {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.submitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 100%; /* розтягується на всю ширину контейнера */
  height: 44px;

  border: 1px solid #8808cc;
  border-radius: 6px;
  background: #8808cc;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  padding: 10px 24px; /* нормальний внутрішній відступ */
}

.submitBtn:hover {
  background-color: #6a52e0;
}
@media only screen and (min-width: 768px) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 32px; */
  }

  .fieldset {
    flex: 1 1 45%;
  }
  .priceRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 100%; /* займає весь рядок у .form */
  }
  .submitBtn {
    width: auto;
    min-width: 200px;
    margin-top: 0;
    margin-left: auto; /* оцей рядок штовхає кнопку вправо автоматично */
  }
}

@media only screen and (min-width: 1440px) {
  .label {
    font-size: 16px;
  }

  .input {
    font-size: 16px;
    padding: 14px 16px;
  }

  .price {
    font-size: 18px;
  }

  .submitBtn {
    font-size: 18px;
    padding: 14px 32px;
  }
}
