.footer {
    background-color: #f3e6f9;
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 80px 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px
}

.topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 18px;
    fill: var(--color-scheme-1-text);
    white-space: nowrap;
}

.logoInner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 20px;
}

.logoIcon {
    width: 83px;
    height: 15px;
    fill: var(--color-scheme-1-text);
}

.logoText {
    fill: var(--color-scheme-1-text);
}

.nav {
    display: flex;
    gap: 30px;
    flex: 1;
    justify-content: center;
}

.navLink {
    height: 22px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
}

.social {
    display: flex;
    gap: 20px;
    white-space: nowrap;
}

.socialLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: var(--color-scheme-1-text);
    text-decoration: none;
    transition: color 0.3s ease;
}

.socialLink:hover {
    color: #6200ea;
}

.bottomSection {
    border-top: 2px solid var(--color-scheme-1-text);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
}

.copyright {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-scheme-3-text);
}

.socialIcon {
    width: 24px;
    height: 24px;
    fill: var(--color-scheme-1-text);
}

.navLink:focus,
.navLink:hover {
    border-bottom: 1px solid var(--color-scheme-1-border);
}

@media (max-width: 768px) {
    .container {
        padding: 48px 32px;
        flex-direction: column;
        gap: 40px;
    }

    .topSection {
        flex-direction: column;
        gap: 32px;
    }

    .logo {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        gap: 12px;
    }

    .logoInner {
        width: 238px;
        height: 38px;
    }

    .logoIcon {
        width: 159px;
        height: 29px;
    }

    .nav {
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
        flex: auto;
    }

    .navLink {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 12px;
        line-height: 150%;
        color: var(--color-scheme-1-text);
    }

    .social {
        width: 100%;
        justify-content: center;
        gap: 30px;
        height: 32px;
    }

    .socialLink {
        width: 32px;
        height: 32px;
    }

    .socialIcon {
        width: 32px;
        height: 32px;
    }

    .bottomSection {
        height: 50px;
        border-top: 2px solid var(--color-scheme-1-text);
    }
}

@media (max-width: 480px) {
    .nav {
        flex-direction: column;
        gap: 32px;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
    }
}
