.footer {
  background: var(--color-scheme-2-background);
  display: flex;
  flex-direction: column;
  padding-top: 52px;
  padding-bottom: 48px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.topSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* gap: 32px; */
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  fill: var(--color-scheme-1-text);
  width: 159px;
  height: 29px;
  margin-bottom: 37px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;
  align-items: center;
  margin-bottom: 32px;
}

.navLink {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  font-size: 12px;

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }

  &:active {
    color: var(--color-electric-violet);

    &::after {
      background-color: var(--color-electric-violet);
    }
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-scheme-1-border);

  transform: scaleX(0);
  transform-origin: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social {
  display: flex;
  gap: 12px;
  white-space: nowrap;
}

.socialLink {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: var(--color-scheme-1-text);
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--color-electric-violet-lightest);
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }

  &:active {
    &::after {
      border-color: var(--color-electric-violet);
    }

    & .socialIcon {
      fill: var(--color-electric-violet);
    }
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.socialLink::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid var(--color-scheme-1-border);
  border-radius: 6px;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialIcon {
  width: 32px;
  height: 32px;
  fill: var(--color-scheme-1-text);
}

.bottomSection {
  border-top: 2px solid var(--color-scheme-1-text);
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 50px;
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-scheme-3-text);
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 48px 32px;
  }

  .nav {
    flex-direction: row;
    gap: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    padding: 80px 64px;
  }

  .logoInner {
    width: 83px;
    height: 15px;
  }

  .nav {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
  }

  .topSection {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  .socialIcon {
    width: 24px;
    height: 24px;
  }
}
