.titleWrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .profileToolsTitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    max-width: 335px;
    margin-bottom: 32px;
  }

  @media only screen and (min-width: 768px) { 
    .profileToolsTitle { 
        font-size: 30px;
       }
  }

  @media only screen and (min-width: 1440px) { 
    .profileToolsTitle { 
        font-size: 42px;
       }
  }
