.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(33, 37, 41, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 48px;
  width: 768px;
  max-width: 90vw;
  height: auto;
  padding: 64px;
  border-radius: 16px;
  background: #ffffff;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 32px;
  right: 32px;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  opacity: 0.7;
}

.closeBtn:hover {
  opacity: 1;
}

.closeBtn svg {
  width: 14px;
  height: 14px;
  fill: #fff;
  stroke: #000;
  stroke-width: 1px;
}

.title {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
}

.text {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #000;
  max-width: 500px;
}

.divider {
  width: 100%;
  height: 1px;
  background: #e5e5e5;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 24px; /* одинаковый на всех экранах */
}

.modalButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border-radius: 6px;
  padding: 10px 24px;
  width: 308px;
  height: 44px;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.cancelBtn {
  border: 2px solid #000;
  background: transparent;
  color: #000;
}

.confirmBtn-purple {
  border: 1px solid #8808cc;
  background: #8808cc;
  color: #fff;
}

.confirmBtn-red {
  border: 1px solid #c40202;
  background: #c40202;
  color: #fff;
}

.modalButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Tablet */
@media (max-width: 1024px) {
  .modalContent {
    padding: 64px 32px;
  }

  .title {
    font-size: 32px;
  }

  .text {
    font-size: 16px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .modalContent {
    padding: 64px 20px;
  }

  .closeBtn {
    top: 16px;
    right: 16px;
    font-size: 24px;
  }

  .title {
    font-size: 24px;
  }

  .text {
    font-size: 14px;
  }

  .buttons {
    flex-direction: column;
  }

  .modalButton {
    width: 100%;
  }
}
