.section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;

  margin-bottom: 48px;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1440px) {
  .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .title {
    font-size: 42px;
  }
}
