/* Контейнер всього блоку */
.infoBlock {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 32px 0;
}

.wrapper {
    width: 100%;

}

.statusTitel {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 140;
    letter-spacing: -0.01em;
    color: var(--color-scheme-1-text);
    margin: 0;
    padding: 0;
}

.statusText {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
    background: transparent;

}

.author {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
}

.swiper {
    width: 100%;
    /* контейнер на всю доступну ширину */
}

.swiper-wrapper {
    display: flex !important;
    /* щоб слайди правильно відображалися */
}

.swiper-slide {
    width: auto !important;
    /* дозволяє Swiper сам регулювати ширину слайдів */
    flex-shrink: 0;
    /* щоб слайди не стискались */
}


.swiperNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    box-sizing: border-box;
    padding: 0 16px;
}

.swiperNavInner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;


}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
}

.navBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 12px;
    border: 2px solid var(--color-scheme-1-border);
    border-radius: 4px;
    background: var(--color-white);
    cursor: pointer;
    color: var(--color-neutral-darkest);
    transition:
        background-color 0.2s ease,
        border-color 0.2s ease,
        border-radius 0.2s ease,
        color 0.2s ease;
}

.navBtn:hover,
.navBtn:focus-visible {
    background: var(--color-electric-violet-lightest);
    ;
    border-radius: 6px;
}

.navBtn:active {
    background: var(--color-electric-violet);
    border-color: var(--color-white);
    color: var(--color-white);
}

.navBtn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.pagination :global(.swiper-pagination-bullet-active) {
    background: var(--color-scheme-1-text);
    transform: scale(1.1);
}


@media (min-width: 768px) {
    .infoBlock {
        max-width: 768px;
        padding: 0 32px;
    }



    @media (min-width: 1440px) {
        .infoBlock {
            max-width: 1440px;
            padding: 0 64px;
        }
    }
}
