.wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.ratingBlock {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ratingValue {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
}

.feedbacksCount {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
}



