.userProfileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 335px;
    padding-top: 48px;
    gap: 24px;
    margin-bottom: 64px;
  }
  
  .letterAvatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 100px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    color: var(--color-neutral-darkest);
    border: 2px solid var(--color-neutral-darkest);
  }
  
  .userName {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    text-align: center;
  }

  .titleWrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .profileToolsTitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    max-width: 335px;
    margin-bottom: 32px;
  }
  

  @media only screen and (min-width: 768px) {
    .userProfileContainer {
        flex-direction: row;
        justify-content: baseline;
        align-items: center;
        max-width: 590px;
    }
  
    .letterAvatar {
        width: 199px;
        height: 199px;
        flex-shrink: 0;
     }
  
     .profileToolsTitle { 
      font-size: 30px;
     }
  }
  
  
  @media only screen and (min-width: 1440px) {
    .userProfileContainer {
        max-width: 1312px;
    }
  
    .userName {
        font-size: 32px;
    }
   
    .profileToolsTitle { 
      font-size: 42px;
     }
   
  }