.userProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 335px;
  gap: 24px;
  margin-bottom: 64px;
}

.letterAvatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-neutral-darkest);
  overflow: hidden;
}

.avatar {
  object-fit: "cover";
}

.userName {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .userProfileContainer {
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    max-width: 590px;
  }

  .letterAvatar {
    width: 199px;
    height: 199px;
    flex-shrink: 0;
  }

  .avatar {
    width: 199px;
    height: 199px;
  }
}

@media only screen and (min-width: 1440px) {
  .userProfileContainer {
    max-width: 1312px;
  }

  .userName {
    font-size: 32px;
  }
}
