.profilePlaceholderContainer {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.profilePlaceholderTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}
.profilePlaceholderText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.profilePlaceholderLink {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-electric-violet);
  border-radius: 6px;
  padding: 8px 20px;
  width: 100%;
  height: 40px;
  background: var(--color-electric-violet);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.profilePlaceholderLink:hover,
.profilePlaceholderLink:focus,
.profilePlaceholderLink:focus-visible,
.profilePlaceholderLink.hover {
  border: 2px solid var(--color-electric-violet);
  background: var(--color-white);
  color: var(--color-neutral-darkest);
}

.profilePlaceholderLink:active {
  border: 2px solid var(--color-electric-violet);
  background: var(--color-electric-violet-lighter);
}

@media only screen and (min-width: 768px) {
  .profilePlaceholderContainer {
    max-width: 600px;
  }
  .profilePlaceholderLink {
    max-width: 241px;
    padding: 7px 19px;
  }
}

@media only screen and (min-width: 1440px) {
  .profilePlaceholderContainer {
    max-width: 614px;
  }
  .profilePlaceholderTitle {
    font-size: 24px;
  }
  .profilePlaceholderText {
    font-size: 18px;
  }
}
